* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .nav-left a {
    float: left;
    color: #f2f2f2;
    text-shadow: 2px 2px #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    background-color: darkred;
    cursor: default;
}

.navbar .nav-right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.navbar .nav-right a:hover {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

.home {
    border-top: 75px solid rgb(234, 240, 240);
    border-right: 25px solid rgb(234, 240, 240);
    border-left: 25px solid rgb(234, 240, 240);
    border-bottom: 25px solid rgb(234, 240, 240);
    background-color:rgb(255, 255, 255);
    height: 760px;
}

.container-profile {
    float: left;
    width: 50%;
    padding: 50px;
    height: 600px;
}

.container-profile .judul {
    border: 15px solid rgb(255, 255, 255);
}

.container-profile .judul h2{
    text-align: center;
}

.container-profile .foto {
    border: 5px solid rgb(255, 255, 255);
}

.container-profile .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    margin-bottom: 20px;
}

.container-profile .biodata {
    border-left: 10px solid rgb(255, 255, 255);
    border-right: 10px solid rgb(255, 255, 255);
    border-top: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.border-biodata {
    border: 1px solid black;
}

.biodata table {
    width: 100%;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}

.biodata th, td {
    padding: 12px;
  }

.biodata th {
    text-align: left;
}

.container-profile .deskripsi-diri .judul {
    border: 15px solid rgb(255, 255, 255);
}

.container-profile .deskripsi-diri .kotakan-isi{
    border: 1px solid black;
    text-align: justify;
}

.container-profile .deskripsi-diri .kotakan-isi .isi{
    border: 10px solid rgb(255, 255, 255);
    text-align: justify;
}

.container-profile .deskripsi-diri .isi .second-paragraph{
    padding-top: 15px;
}

.container-profile .pendidikan .judul-pendidikan {
    border: 15px solid rgb(255, 255, 255);
    text-align: center;
}

.table-pendidikan table td { 
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}


.container-social-media {
    border: 25px solid rgb(31, 30, 30);
    background-color: rgb(31, 30, 30);
    height: 350px;
    color: #f2f2f2;
}

.container-social-media .container-social-media-title{
    border: 35px solid rgb(31, 30, 30);
    text-align: center;
}

.container-social-media .social-media-menu ul {
    position: relative;
    display: flex;
    border-left: 360px solid rgb(31, 30, 30);
    border-right: 360px solid rgb(31, 30, 30);
}

.container-social-media .social-media-menu{
    border: 35px solid rgb(31, 30, 30);
}

.container-social-media .social-media-menu ul li {
    list-style: none;
    margin: 0 55px;
}

.container-social-media .social-media-menu ul li .fa {
    font-size: 40px;
    line-height: 80px;
    color: rgb(255, 255, 255);
}