{% load static %}

<nav class="navbar fixed-top navbar-expand-md navbar-dark justify-content-center" id="navbar-background">
    <div class="navbar-brand d-flex w-50 mr-auto">
        <img src="{% static 'home/images/Logo-Bintang2.jpg' %}" alt="No Image" width="120">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center" id="middle-navbar">
            <li class="nav-item">
                <a class="nav-link" href="/#home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#profile">PROFILE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#background">BACKGROUND</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="newpage">ALBUM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/story1/">STORY1</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end" id="right-navbar">
            <li class="nav-item">
                <a class="about-me" href="#about-me"><button>ABOUT ME</button></a>
            </li>
        </ul>
    </div>
</nav>